.Box_VistaUsuario {
    height: 100%;
    width: 100%;
    display: flex;
}

.bot-container {
    height: 80%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.chatbot {
    width: 65%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}