.App {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: rgb(0, 0, 0);
  justify-content: space-evenly;
  background: linear-gradient(45deg,
      rgb(210, 211, 212),
      rgb(15, 15, 15),
      rgb(192, 190, 195));
  animation: cambiar 10s ease infinite;
  background-size: 400% 400%;
}

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 60%;
  }

  100% {
    background-position: 0 30%;
  }
}

/* barrra de navegacion de header */
.header-nav {
  background-color: #434343;
  height: 10%;
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #080808;
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
}

.nav-link:hover {
  color: #faf5f5;
}


/* stylos del formulario de login y registrar */
.formulario {
  width: 20%;
  height: 45%;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgb(103, 103, 103);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.Cart_formulario {
  height: 45%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.formulario2 {
  width: 20%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(136, 133, 133);
}

.input_valor {
  width: 200px;
  height: 25px;
  border: none;
}

.BT_enviar {
  color: rgb(6, 6, 6);
  width: 135px;
  height: 25px;
  background-color: rgb(254, 251, 251);
  cursor: pointer;
  border: none;
}
/* vista de Adminitracion de usuario */
.Vista_De_usuario{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para la tabla de usuarios */
.tabla-usuarios {
  width: 100%;
  height: 20%;
  text-align: center;
  border-collapse: collapse;
}

.tabla-usuarios th,
.tabla-usuarios td {
  padding: 8px;
  border: 1px solid #ddd;
}

.tabla-usuarios th {
  background-color: #f2f2f2;
}

/* Estilos para los botones de editar y eliminar */
.BT_Edicione{
  height: 40px;
  width: 120px;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(199, 199, 199);
}
.BT_Edicione:hover{
  height: 40px;
  width: 120px;
  color: rgb(0, 0, 0);
  background-color: rgb(20, 233, 9);
  border: none;
}




.btn-editar,
.btn-eliminar {
  height: 40px;
  width: 120px;
  margin: 5px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-eliminar {
  background-color: #c02a39;
}

.btn-editar:hover,
.btn-eliminar:hover {
  background-color: #0056b3;
}

