.App {
  height: 89%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  justify-content: space-evenly;
  background: linear-gradient(45deg,
      rgb(62, 102, 143),
      rgb(56, 17, 75),
      rgb(1, 7, 19));
  animation: cambiar 10s ease infinite;
  background-size: 400% 400%;
}

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 60%;
  }

  100% {
    background-position: 0 30%;
  }
}

/* barrra de navegacion de header */
.header-nav {
  background-color: #e5e6e7;
  height: 11%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #080808;
  font-weight: bold;
  font-size: 24px;
  border-bottom: 1px solid rgb(177, 177, 177);
  margin: 15px;
}

.nav-link:hover {
  color: #277bf9;
}
.BoxLogoHeader{
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
}
.LogoHeader{
  width: 112px;
}
.BoxTextoLogo{
  height: 100%;
  display: flex;
  align-items: center;
}
.TextLogo{
  width: 225px;
  padding-top: 15px;
}

/* stylos del formulario de login y registrar */
.TituloFormulario{
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.formulario {
  width: 20%;
  height: 45%;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(239, 239, 239);
  font-size: 20px;
}

.Cart_formulario {
  height: 45%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.formulario2 {
  width: 20%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  border-radius: 15px;
  color: rgb(253, 253, 253);
  background-color: rgb(3, 3, 3);
}
.FooterFormulario{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.LinkRedSocilia{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  color: #0056b3;
}

.input_valor {
  width: 250px;
  height: 35px;
  border: none;
}

.BT_enviar {
  color: rgb(6, 6, 6);
  width: 135px;
  height: 35px;
  background-color: rgb(254, 251, 251);
  cursor: pointer;
  border: none;
}
/* vista de Adminitracion de usuario */
.VistaTitutlo{
  color: #037ef9;
  font-size: 35px;
}
.Vista_De_usuario{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para la tabla de usuarios */
.tabla-usuarios {
  width: 90%;
  height: auto;
  text-align: center;
  border-collapse: collapse;
}

.tabla-usuarios th,
.tabla-usuarios td {
  padding: 8px;
  border: 1px solid #ddd;
  background-color: rgb(4, 4, 4);
  color: white;
  font-size: 35px;
}

.tabla-usuarios th {
  background-color: #141414;
  color: rgb(250, 247, 247);
  font-size: 30px;
}

/* Estilos para los botones de editar y eliminar */
.BT_Edicione{
  height: 40px;
  width: 120px;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(3, 70, 132);
  font-size: 20px;
  color: white;
}
.BT_Edicione:hover{
  height: 40px;
  width: 120px;
  color: rgb(0, 0, 0);
  background-color: rgb(20, 233, 9);
  border: none;
  font-size: 20px;
  color: white;
}




.btn-editar,
.btn-eliminar {
  height: 40px;
  width: 100px;
  text-align: center;
  margin: 5px;
  font-size: 20px;
  color: #fff;
  background-color: #f5a207;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-eliminar {
  background-color: #c02a39;
  font-size: 20px;
  color: white;
}

.btn-editar:hover,
.btn-eliminar:hover {
  background-color: #0056b3;
  font-size: 20px;
}

